---
layout: homepage
title: AngularDart
description: AngularDart is a web app framework that focuses on productivity, performance, and stability.
---

<section class="slogan">
	{% if true -%}
	{% include banner.html %}
	{% endif -%}
	<div class="container">
		<div class="content">
			<h2> A open-source web framework focused on<br>
				productivity, performance, and stability.</h2>
			<a href="/guide/setup" class="btn btn-default btn-lg">Get Started</a>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row headline">
			<div class="col-sm-5 col-lg-6">
				<div class="content">
					<h2>Used in production</h2>
				</div>
			</div>
			<div class="col-sm-7 col-lg-6">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-lg-4">
				<div class="content">
					<p>Originally developed by Google, AngularDart has powered
						sophisticated, mission-critical apps that serve millions of users.</p>

					<h2>Elegant, Maintainable</h2>
					<p>
						AngularDart is built on the <a href="https://dart.dev/platforms">Dart Web platform</a>. By
						leveraging Dart's concise <a href="https://dart.dev/guides/language/type-system">type system</a>, <a
							href="https://dart.dev/null-safety">sound null safety</a>, and
						other useful <a href="https://docs.flutter.dev/development/tools/devtools/overview">development
							tools</a>, AngularDart helps you build beautiful websites
						productively with an elegant and maintainable codebase, without all
						the complicated hassle of a JavaScript library.
					</p>
				</div>
			</div>
			<div class="col-sm-7 col-lg-8">
				<div class="content">
					<img src="{% asset adwords-screenshot.png @path %}" alt="" class="center-block">
				</div>
			</div>
		</div>
	</div>
</section>
