name: Jekyll CI
on:
  push:
    branches:
      - master
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      JEKYLL_ENV: production
      NODE_ENV: production
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          cache: yarn
      - run: yarn install
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
      - name: Setup Ruby and cache gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true
      - run: dart run grinder build --refresh=all
